<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197694614204-6qjmmnrmfmsa5qkqlacrsdocurh4onhv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197694614204-6qjmmnrmfmsa5qkqlacrsdocurh4onhv</string>
	<key>API_KEY</key>
	<string>AIzaSyB76xWiOthVwKOhD3QlLC3vi6-PDjkjdJY</string>
	<key>GCM_SENDER_ID</key>
	<string>197694614204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.maikup</string>
	<key>PROJECT_ID</key>
	<string>maikup-93c8f</string>
	<key>STORAGE_BUCKET</key>
	<string>maikup-93c8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197694614204:ios:0af135f4f9c28f154b3eb9</string>
	<key>DATABASE_URL</key>
	<string>https://maikup-93c8f.firebaseio.com</string>
</dict>
</plist>